<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" data-ui-sref="/user-main">
            <img src="./front-end/img/brand.png" alt="Brand logo">
            <strong class="brand-text">Forumas</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="#">
                        <input type="text" name="search" class="search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-ng-click="logout()">Atsijungti</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="panel col-9 rounded">
            <!-- Default panel contents -->
            <div class="panel-heading rounded-top" style="background-color: #5c6bc0;">
                <p class="panel-heading-text"><strong>Forumo temos</strong></p>
            </div>
            <div class="table-responsive">
                <table class="table table-hover bg-white rounded">
                    <thead>
                    <tr>
                        <th scope="col">Pavadinimas</th>
                        <th scope="col">Paskutinis pranešimas</th>
                        <th scope="col">Pranešimo autorius</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="thread in threads">
                        <td class="text-truncate">
                            <a data-ui-sref="user-main-thread({threadName: thread.name})">
                                {{thread.name}}
                            </a>
                        </td>
                        <td class="text-truncate">ddddddddddddddddddddddddd</td>
                        <td class="text-truncate">dsfsdddddddddddddddddddddddddasdasds</td>
                        <td>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#edit-thread"
                                    data-ng-click="pushToEditedThread(thread.name, thread._id)">
                                Redaguoti
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div> <!-- Table-responsive -->
        </div> <!-- Panel -->

        <div class="col-3" style="padding: 0">
            <div class="row">
                <div class="panel col-sm-12 rounded">
                    <!-- Default panel contents -->
                    <div class="panel-heading rounded-top" style="background-color: #73c54b;">
                        <p class="panel-heading-text"><strong>Tavo mėgstamiausios temos</strong></p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover bg-white rounded">
                            <tbody>
                            <tr>
                                <td class="text-truncate"><a
                                        href="#">dsasddfssdfsdfsdffdssdffffffffffffffffffffffffffasds</a></td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive -->
                </div> <!-- Panel -->

                <div class="panel col-sm-12 rounded">
                    <!-- Default panel contents -->
                    <div class="panel-heading rounded-top" style="background-color: #FF7637;">
                        <p class="panel-heading-text"><strong>Naujausi pranešimai</strong></p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover bg-white rounded">
                            <tbody>
                            <tr>
                                <td class="text-truncate"><a
                                        href="#">dsasddfssdfsdfsdffdssdffffffffffffffffffffffffffasds</a>
                                </td>
                                <td class="text-truncate">dsasdasds</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                                <td class="text-truncate">dsasdasds</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                                <td class="text-truncate">dsasdasds</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                                <td class="text-truncate">dsasdasds</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                                <td class="text-truncate">dsasdasds</td>
                            </tr>
                            <tr>
                                <td class="text-truncate"><a href="#">dsasdasds</a></td>
                                <td class="text-truncate">dsasdasdsadfdfsdfds</td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive -->
                </div> <!-- Panel -->
            </div> <!-- Row -->
        </div> <!-- Col -->
    </div> <!-- Row -->
    <form>
        <input class="form-control col-sm-3" type="text" placeholder="Temos pavadinimas"
               required
               data-ng-model="newThread.name">
        <br>
        <button class="btn btn-dark" data-ng-click="createNewThread()">Kurti naują temą</button>
    </form>
</div> <!-- Container -->

<div class="modal" id="edit-thread" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Redaguoti temą</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input class="form-control col-sm-6" type="text" placeholder="Temos pavadinimas"
                           required
                           data-ng-model="editedThread.name">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-ng-click="editThread()" data-dismiss="modal">Redaguoti temą
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
            </div>
        </div>
    </div>
</div>