<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" data-ui-sref="/user-main">
            <img src="./front-end/img/brand.png" alt="Brand logo">
            <strong class="brand-text">Forumas</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="#">
                        <input type="text" name="search" class="search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-ng-click="logout()">Atsijungti</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
</header>
<div class="container">


    <article data-ng-repeat="message in messages" class="card m-3">
        <div class="card-header">
            <h2 class="card-title">{{message.messageAuthor}}</h2>
            <p>{{message.lastModified | date : fullDate}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{message.message}}</p>

        </div>
        <div class="card-footer bg-transparent border-success">
            <button class="btn btn-warning float-right" data-toggle="modal" data-target="#edit-message"
                    data-ng-click="pushToEditedMessage(message.message, message._id)">
                Redaguoti
            </button>
        </div>

    </article>


    <form class="thread-form">
        <textarea class="form-control col-sm-3" type="text" placeholder="Pranešimas"
                  required
                  data-ng-model="newMessage.message"></textarea>
        <br>
        <button class="btn btn-dark" data-ng-click="createNewMessage()">Kurti naują pranešimą</button>
    </form>

</div>

<div class="modal" id="edit-message" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Redaguoti pranešimą</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea class="form-control col-sm-6" type="text" placeholder="Pranešimas"
                              required
                              data-ng-model="editedMessage.message"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-ng-click="editMessage()" data-dismiss="modal">Redaguoti pranešimą
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
            </div>
        </div>
    </div>
</div>